.profile-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.user-info {
  margin-bottom: 20px;
  background-color: #cef7f8;
  padding: 15px;
  border-radius: 10px;
}

.tickets-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ticket-card {
  display: flex;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ticket-image {
  width: 150px;
  object-fit: cover;
}

.ticket-content {
  padding: 15px;
  flex-grow: 1;
}

.cancel-button {
  background-color: #dc3545;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #c82333;
}

.alert {
  margin: 10px 0;
  padding: 10px;
  background-color: #ffe4e1;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  color: #721c24;
}


.calendar-toggle {
  margin: 20px 0;
}

.calendar-btn {
  background-color: #264653;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calendar-btn:hover {
  background-color: #1d3557;
}

.calendar-icon {
  font-size: 1.2rem;
}

.calendar-wrapper {
  margin: 15px 0;
  animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.react-calendar__tile.highlight-date {
  background-color: #39e664;
  color: white !important;
  border-color: #000000;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}